:root{
    --main-white: #fcfcfc;
    --main-maroon: #690b0b;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 html, body {
    height: 100%;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }